@import url(normalize.css);
@import url(skeleton.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html,
body {
  width: 100%;
  font-family: "mrs-eaves", Arial, sans-serif;
  font-size: 18px; }

h1,
h2,
h3,
h4 {
  font-family: "mrs-eaves", sans-serif; }

h1 {
  font-size: 4em; }
  h1.asterism {
    background-repeat: no-repeat;
    background-position: center center;
    height: 180px;
    color: transparent;
    padding-bottom: 0;
    margin-bottom: 0; }
  h1.gs-hero {
    background-image: url("../img/gavin_sophia.svg");
    position: relative;
    margin-top: 300px; }
  h1.ceremony-reception {
    background-image: url("../img/ceremony.svg");
    height: 100px; }
  h1.hotels {
    background-image: url("../img/hotels.svg");
    height: 100px; }
  h1.welcome {
    background-image: url("../img/welcome.svg");
    height: 100px; }
  h1.about {
    background-image: url("../img/about_us.svg");
    height: 100px; }
  h1.rsvp {
    background-image: url("../img/rsvp.svg");
    height: 100px; }

h2 {
  font-size: 3em; }
  h2.gs-sub {
    margin-top: -40px; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.5em; }

.bold {
  font-weight: 700; }

#container {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  #container section {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    overflow: auto; }
    #container section .wrapper {
      width: 80%;
      margin: 0 auto; }
    #container section.even {
      background-color: white; }
    #container section.odd {
      background-color: #fcfcfc; }
  #container #hero {
    width: 100%;
    background-image: url("../img/161014-sophiagavin-064.jpg");
    /* positioning for image? */
    background-size: cover;
    background-position-y: -70px;
    padding-bottom: 0px;
    color: white; }
    #container #hero .wrapper {
      padding-top: 50px;
      height: 90%;
      vertical-align: middle; }
      #container #hero .wrapper h3 {
        padding-bottom: 0;
        margin-bottom: 10px;
        margin-top: -30px;
        text-shadow: 4px 4px 7px rgba(150, 150, 150, 0.5); }
      #container #hero .wrapper h4 {
        padding-top: 0;
        margin-top: -20px;
        text-shadow: 4px 4px 7px rgba(150, 150, 150, 0.5); }
    #container #hero nav {
      width: 100%;
      height: 10%;
      background-color: #F7DED9;
      height: 40px; }
      #container #hero nav li {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px; }
        #container #hero nav li a {
          text-decoration: none;
          vertical-align: middle;
          color: #36354e; }
        #container #hero nav li:hover {
          border-bottom: 5px solid #36354e; }
  #container #the_wedding {
    height: auto;
    overflow: auto; }
    #container #the_wedding h4 {
      margin-bottom: 10px; }
    #container #the_wedding .left {
      padding-left: 20%;
      padding-right: 2%; }
    #container #the_wedding .right {
      padding-left: 2%;
      padding-right: 20%; }
  #container #about .slides {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    height: auto; }
    #container #about .slides img {
      width: 100%;
      height: auto; }
    #container #about .slides .credit {
      font-size: 0.75em;
      color: grey; }
  #container #about .slick-prev:before,
  #container #about .slick-next:before {
    color: #36354e; }
  #container #about .slick-dots {
    bottom: 15px; }
  #container #about .name {
    width: 100px;
    height: auto; }
  #container #about #know-us {
    padding-top: 60px; }
    #container #about #know-us li {
      margin-bottom: 5px; }
  #container #about .no-left-margin {
    width: 50%; }
    #container #about .no-left-margin p {
      margin-top: 30px;
      margin-left: 60px;
      margin-right: 60px;
      margin-bottom: 10px; }

.no-left-margin {
  margin-left: 0; }

footer {
  width: 100%;
  font-size: .75em;
  text-align: center;
  padding: 20px; }
  footer p {
    margin-bottom: 0; }

/*# sourceMappingURL=screen.css.map */
