//@import "normalize.css";
@import "bourbon/bourbon";
@import "neat/neat";

$fancy-font: "mrs-eaves", serif;
$plain-font: "mrs-eaves", Arial, sans-serif;

$red: #ba2028;
$blue: #36354e;
$lt-grey: #e0e0e0;
$pink: #F7DED9;

$font-small:0.75em;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

html,
body {
  
  width:100%;
  margin:0 auto;
  font-family: $plain-font;
  font-size:18px; //1em
  color:$blue;
  font-weight:400;
  
}

#container {
  
  width:100%;
  margin:0 auto;
  text-align: center;
  
}

section {
  
  @include outer-container(100%);
  margin-bottom:30px;
  text-align: center;
  
}

.asterism {
  
  height:100px;
  width:auto;
  margin-top:30px;
  
  @include media(max-width 599px) {
    
    width:75%;
    height:auto;
    margin-top:15px;
    
  }
  
}

h1, h2, h3, h4 {
  
  margin:0;
  
}

h1 {
  
  font-size:3em;
  
}

h2 {
  
  font-size:2em;
}

h3 {
  
  font-size:1.5em;
}

h4 {
  
  font-size:1.25em;
}

.bold {
  
  font-weight:700;
}

a {
  
  color:$blue;
  
  &:hover {
    
    color:lighten($blue, 30%);
  }
}

.even {
  
  background-color: lighten($lt-grey, 11%);
}

.six {
  
  @include span-columns(6);
  margin-top:30px; 
}

.four {
  
  @include span-columns(4);
  padding-left:15px;
  padding-right:15px;
}

.six, 
.four {
  
  @include media(max-width 599px, 1) {
   
   width:100%;
    
  }
}

.twelve {
  
  @include span-columns(12);
  
}

.left {
  
  padding-left:30px;
  
}

.right {
  
  padding-right:30px;
}

.left,
.right {
  
  @include media(max-width 599px, 1) {
   
   padding:0;
   
  }
}

.name {
  
  height:75px;
  width:auto;
  
}

nav {
  
  width:100%;
  height:50px;
  background-color:$pink;
  margin-top:-5px;
  
  li {
        
    height:100%;
    display:inline-block;
    padding-bottom:0;
    margin-bottom:0;
    padding-left:20px;
    padding-right:20px;
    padding-top:12px;
    
    a {
      
      text-decoration:none;
      vertical-align: middle;
      color:$blue;
      
      
    }
    
    &:hover {
      
      border-bottom:5px solid $blue;
      
    }
  }
  
  @include media(max-width 599px, 1) {
    
    height:auto;
    text-align: center;
    padding-bottom:15px;
  }
}

img.hero {
  
  width:100%;
  height:auto;
}

.slides {
  
  width:800px;
  margin:0 auto;
  text-align: center;
  
  img {
    
    margin-bottom:15px;
  }
  
  .credit {
    
    font-size:$font-small;
    color:darken($lt-grey, 10%);
    margin-top:5px;
  }
  
  @include media(max-width 599px, 1) {
   
    width:100%;
    height:auto;
    
    img {
      
      width:100%;
      height:auto;
    }
    
  }
}

#baltimore {
  
  padding-bottom:30px;
  
  .four {
    
    @include media(max-width 599px, 1) {
   
      padding-bottom:30px;
     
    }
  }
  
  h4 {
    
    @include media(max-width 599px, 1) {
   
     padding-bottom:30px;
     
    }
  }
}

footer {
  
  @include outer-container();
  text-align: center;
  font-size:$font-small;
  margin-top:30px;
  margin-bottom:30px;
   
  p {
    
    margin:3px;
  }
}
